<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- title -->
  
	<title>{{ title }}</title>
	<base href="{{ base }}" />
	{% if description %}
	<meta name="description" content="{{ description }}" />
	{% endif %}
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}" />
	{% endif %} 
  
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/fevicon.svg">
  <!-- Place favicon.ico in the root directory -->

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}

  <!-- CSS start here -->
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/fontawsome/css/fontawesome.css">
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/css/slick.css">
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/css/animate.min.css">
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/css/odometer.css">
  <link rel="stylesheet" href="catalog/view/theme/esg-digital/assets/css/style.css">
  <!-- CSS end here -->
</head>

<body class="section-bg">
  <!-- Header section start -->
  <header class="ep-header-section w-100" id="sticky-header">
    <nav class="navbar p-0 navbar-expand-xl d-none d-xl-flex">
      <div class="container header-one-container">
	  {% if logo %}
        <a class="navbar-brand" href="{{ home }}">
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" style="height: 58px;">
        </a>
		{% else %}
		<a class="navbar-brand" href="{{ home }}">{{ name }}</a>
		{% endif %}
		
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="index.php">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?route=information/about">關於數位島</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?route=information/solution">永續解方</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://app.suiddo.com">平台登入</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?route=information/contact">聯絡我們</a>
            </li>
          </ul>
          <div class="call-us" style="display: none;">
            <a href="tel:06-2219626" class="call-us-btn d-flex align-items-center gap-3">
              <span class="icon d-flex justify-content-center
               align-items-center">
                <i class="fa-solid fa-phone"></i>
              </span>
              <div class="info">
                <span class="title">需要協助嗎?</span>
                <h5 class="number">06-2219626</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- mobile navbar part start -->
    <div class="mobile-menu-area d-block d-xl-none">
      <div class="container">
        <div class="mobile-topbar">
          <div class="d-flex justify-content-between align-items-center">
            <div class="logo">{% if logo %}
              <a href="{{ home }}"> <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" style="height: 58px;"></a>
              {% else %}
			  <a href="{{ home }}">{{ name }}</a>
				{% endif %}
			</div>
            <div class="bars">
              <i class="fas fa-bars"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-overlay"></div>
      <div class="mobile-menu-main">
        <div class="logo">
		{% if logo %}
          <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" style="height: 58px;"></a>
		  {% else %}
			<a href="{{ home }}">{{ name }}</a>
		  {% endif %}
        </div>
        <div class="close-mobile-menu"><i class="fas fa-times"></i></div>
        <div class="menu-body">
          <div class="menu-list">
            <ul class="list-unstyled">
              <li class="sub-mobile-menu"><a href="index.html">首頁</a></li>
              <li class="sub-mobile-menu"><a href="">關於數位島</a></li>
              <li class="sub-mobile-menu">
                <a href="#">協作平台 <i class="fas fa-chevron-down float-end"></i></a>
                <ul class="list-unstyled">
                  <li><a href="service-detail.html">ESG永續報告協作平台</a></li>
                  <li><a href="service-detail.html">TCFD氣候相關財務揭露協作平台</a></li>
                  <li><a href="service-detail.html">CDP碳揭露專案協作平台</a></li>
                  <li><a href="service-detail.html">ISO 14064-1溫室氣體盤查協作平台</a></li>
                  <li><a href="service-detail.html">GHG Protocol溫室氣體盤查協作平台</a></li>
                  <li><a href="service-detail.html">工程碳足跡協作平台</a></li>
                  <li><a href="service-detail.html">ISO 14067產品碳足跡協作平台</a></li>
                  <li><a href="service-detail.html">EMS能源管理可視化平台</a></li>
                  <li><a href="service-detail.html">減碳策略SBTi協作平台</a></li>
                  <li><a href="service-detail.html">人權盡職管理輔導</a></li>
                </ul>
              </li>
              <li class="sub-mobile-menu"><a href="contact.html">聯絡我們</a></li>
            </ul>
          </div>
        </div>
        <div class="call-us p-4">
          <a href="tel:06-2219626" class="call-us-btn d-flex align-items-center gap-3">
            <div class="info">
              <span class="title">台北辦公室：</span>
              <h5 class="number" style="display: inline;">02-27009079</h5>
            </div>
          </a>
		  
		  <a href="tel:06-2219626" class="call-us-btn d-flex align-items-center gap-3">
            <div class="info">
              <span class="title">台南辦公室：</span>
              <h5 class="number" style="display: inline;">06-2219626</h5>
            </div>
          </a>
		  
        </div>
      </div>
    </div>
    <!-- mobile navbar part end -->
  </header>
  <!-- Header section end -->